@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

@layer utilities {
    input[type="range"] {
      @apply appearance-none w-full h-1 rounded-full bg-gray-600 cursor-pointer;
    }
  
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      background: #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    }
}